/* .img {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
} */

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.8rem !important;
}

h3 {
  font-size: 1.6rem !important;
}

.cp_embed_wrapper {
  margin: 2rem 0;
}

.container.full {
  max-width: 1200px;
}
